body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(216, 213, 213);
  color: #807e7e;
}

/* Estilo Login */

.logo {
  padding: 10%;
  width: 90%;
}

.register {
  margin-top: 0%;
  padding: 0%;
}

.inputRegister {
  margin: 1% 4% 0% 7%;
  width: 90%;
}

.icon-input {
  background-color: transparent;
}

.input-group-text {
  background-color: #82CCD5;
  border-radius: 1rem;
}

.form-control {
  background-color: rgb(176, 201, 204);
}

#login {
  width: 90%;
  margin: 3% 4% 0% 7%;
  border-radius: 2rem;
  background-color: #82CCD5;
  color: #333333;
}

#login:hover {
  background-color: rgb(176, 201, 204);
  color: white;
}

.container-modal {
  margin: 3% 4% 0% 7%;
  text-align: center;
}

.boton-modal,
.modalTxt {
  display: inline;
  font-size: 15px;
}

.boton-modal {
  padding: 0%;
  background-color: transparent;
  color: #268eff;
  border: none;
}

#loginFacebook {
  background-color: #3b5998;
  color: white;
  width: 90%;
  margin-bottom: 2%;
  margin-left: 7%;
}

#loginFacebook:hover {
  background-color: #526ca1;
}

#loginGoogle {
  background-color: #db3236;
  width: 90%;
  margin-left: 7%;
  color: white;
}

#loginGoogle:hover {
  background-color: #da4c4e;
}

/*Estilo Modal*/

.modal-title {
  text-align: center;
  font-weight: bold;
}

/* Estilos de la barra de navegación */

.navbar {
  padding: 0;
}

.top {
  width: 100vw;
  height: 7vh;
  background-color: #82ccd5;
  z-index: 2;
  position: fixed;
  box-shadow: 0px 2px 14px -3px rgba(105,105,105,1);
}

.navbar-brand {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.navbar-brand i {
  padding: 4px 10px;
  font-size: 20px;
}

.navbar-toggler {
  position: absolute;
  height: inherit;
  background-color: white;
  border: 1px solid #2b2b2b;
  border-radius: 0;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #2b2b2b;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2),
.animated-icon3 span:nth-child(3) {
  top: 10px;
}

.animated-icon3 span:nth-child(4) {
  top: 20px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.navbar-collapse {
  height: 93vh;
  width: 70%;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  margin-top: 7vh;
  background-color: white;
  text-align: center;
  box-shadow: 4px -1px 21px -3px rgba(128, 127, 127, 0.623);
}

.navbar-collapse img {
  margin-top: 10px;
  width: 100px;
  opacity: 0.5;
}

.nav-link {
  font-size: 14px;
}

.nav-item {
  font-size: 12px;
  text-align: initial;
}

.nav-link i {
  padding: 10px;
  font-size: 18px;
}

/* Estilos generales de las secciones */

#wall,
#activities,
#calendar,
#council,
#chat,
#profile {
  padding-top: 7vh;
  width: 90%;
  min-height: 100vh;
}

/* Estilos del Perfil de Usuario */

.profile-pic {
  width: 100%;
  height: auto;
  display: block;
}

.circle {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 1000px !important;
  overflow: hidden;
  width: 125px;
  height: 125px;
  border: 5px solid rgba(255, 255, 255, 0.7);
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

#cameraIcon {
  padding: 10px;
}

#cameraIcon button {
  background: none !important;
  color: #2b2b2b;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  vertical-align: middle;
}

#cameraIcon input {
  font-size: 13px;
}

.userInfo form {
  position: absolute;
  left: 20px;
  top: 280px;
  padding: 0;
}

#saveChanges {
  position: absolute;
  left: 35%;
}

/* Botón que guarda los cambios en el perfil */

.form-btns {
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.form-btns .btn {
  border-radius: 25px;
  background-color: inherit;
  color: #82CCD5;
  border: 2px solid #82CCD5;
}

.form-btns .btn:active {
  background-color: #82CCD5;
  color: #FFFFFF;
  border: 2px solid transparent;
}

.form-btns .btn:active:focus,
.form-btns .btn:active:hover {
  background-color: #82CCD5;
  color: #FFFFFF;
  border: 2px solid transparent;
}

/*Cada cajita*/

.card {
  box-sizing: border-box;
  margin-top: 2%;
}

.card-title {
  display: inline;
  margin-left: 2%;
}

.card-body {
  background-color: white;
}

.card-text {
  color: black;
}

.card-footer {
  text-align: center;
}

/*Iconos*/

i {
  font-size: 20px;
}

i:hover {
  color: black;
}

.icon {
  margin-left: 3%;
  margin-right: 3%;
}

textarea {
  width: 100%;
}

/* Media queries */

@media (min-width: 768px) {
  .top {
    width: 75vw;
    position: fixed;
    right: 0;
  }
  .navbar-collapse {
    width: 25vw;
    position: absolute;
    height: 100vh;
    background: #fafafa;
    transition: all 0.5s;
    z-index: 2;
    top: -7vh;
    left: 0;
    overflow-x: visible;
    box-shadow: 0;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-toggler {
    display: none;
  }
  #wall,
  #activities,
  #calendar,
  #council,
  #chat,
  #profile {
    margin-left: 10px;
    padding-left: 25vw;
  }
  .userInfo form {
    left: 27vw;
    width: 60%;
  }
  #saveChanges {
    left: 50%;
  }
  #cameraIcon {
    padding: 20px;
  }
  .logo {
    width: 20%;
    padding: 2%;
  }
}