/*
font-family: 'Wendy One', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
*/

body {
  background-color: #45aed1;
}

.caja_registro {
  background-color: #bcebeb;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #45aed1;
  -webkit-box-shadow: 10px 10px 15px -9px rgba(79,78,79,0.68);
  -moz-box-shadow: 10px 10px 15px -9px rgba(79,78,79,0.68);
  box-shadow: 10px 10px 15px -9px rgba(79,78,79,0.68);
  padding-top: 12%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
}

#logo {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.img_mascotas {
  margin-bottom: 10%;
}

.btn_ingresar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn_facebook {
  background-color: #5176B8;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10%;
  width: 100%;
}

#btn_google {
  background-color: #D63E2F;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 5%;
  width: 100%;
}

.btn_registrate {
  background-color: #bcebeb;
  border:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no_tienes_cuenta {
  margin-top: 10%;
  margin-bottom: 2%;
  text-align: center;
}

#screen2 {
  display: none;
}

#screen1 {
  display: block;
}

#modal_title {
  font-size: 14px bold;
  text-align: center;
  color: orangered;
}

#responsability {
  font-size: 12px;
  text-align: justify;
  margin-left: 6%;
  margin-right: 6%;
}

#box_responsability {
  text-align: center;
  width: 100%;
}

#responsability_modal {
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn_registrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* pantalla 3*/
.menu{
  position: absolute;
  top:0;
  height: 50%;
  width: 50vw;
  transition: 0.5s ease-out
}

#menuColor {
  background-color: #2a4eec;
  height: 10%;
}

.iconMenu {
  color: white;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: white;
}

#closingX {
  color: black;
  cursor: pointer;
}

#screen3 {
  padding: 0;
  display: none;
}

.closingMenu{
  left: -90vw;
  background-color: #1E90D0;
}

.menu_open{
  left: 0;
}

.close_button{ /* configurando boton de cierre del navbar*/
  font-size: xx-large;
  color: white;
  position: absolute;
  right: 10px;                   
}

.menu_content{
  padding: 10px;
  margin-top: 20px;
}

.formPost{
  margin: 5%;
}

#post {
  resize: none;
  width: 50%;
  margin-left: 25%;
}

h5 {
  text-align: center;
}

#btnImg {
  margin-left: 10%;
}
/* cierre css pantalla 3*/
