body {
  background-color: #A7D9A2;
}

/*Estilo login (Daniela)*/

#logInPage {
  display: block;
}

h1, h2, h4 {
  text-align: center;
}
 
#logo {
  background-color: #59A686;
}

#loggedOut {
  margin-top: 5em;
}

#loginFacebookBtn, #loginGoogleBtn {
  border-radius: 50%;
  border-color: transparent;
  border-width: 0px;
  padding: 0px;
  display: inline;
}

.btnBlue {
  background: #00BCD4;
  border-radius: 2px;
  color: beige;
}

.btnBlueEnter {
  background: #00BCD4;
  border-radius: 2px;
  margin-top: 2em;
  margin-bottom: 3em;
  color: beige;
}

#btnLoginWith {
  text-align: center;
  margin-left: 0px;
}

#containerBtn {
  text-align: center;
}
  
.input_container {
  margin-bottom: 1em;
}

#div_btn {
  width: 30%;
  margin: auto;
}

#register_container {
margin-top: 4em;
}
 
.btn_container {
  margin-top: 1em;
}

/*Estilo Registro (Mariel)*/
#registerPage{
  display: none;
  padding: 0%;
}

header{
  background: #59A686;
  height: 76px;
}

.col-12{
  background-color: #A7D9A2;
}

#form_section{
  margin: auto;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

#title{
  font-size: large;
}

#inputs_div{

}
.nombre_input{
  text-align: left;
  margin-bottom: 0%;
  margin-top: 3%;
  font-size: small;
  color: rgba(0, 0, 0, 0.54);
}

.input_place{
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 3px;
  border-width: 0px;
  margin-top: 0%;
}

#validation_div{
  text-align: center;
  padding: 0%;
}

.error{
  color: red;
  font-size: x-small;
}

#rememeber_check{
  display: inline; 
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: auto;
}
#terms_check{
  display: inline;
  margin-top: auto;
  margin-left: 5%;
  margin-bottom: auto;
}
#terms_text{
  padding-left: 2%;
  padding-top: 6%;
}
#remember_text{
  padding-left: 2%;
}

.check_text{
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

#create_acount_button{
  border-width: 0px;
  background: #00BCD4;
  border-radius: 2px;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  width: 96px;
  height: 36px;
  font-size: smaller;
  text-align: center;
  margin-top: 9%;
}

/*Muro (Barbara)*/

#homePage {
  display: block;
}