/*Fondo Prueba*/
body{
  background-color: #DCDCDC;
}
/*Cada cajita*/
.card{
  box-sizing: border-box;
  margin-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #5590A6;
  border-radius: 10px;
  background-color: #5590A6;
} 
/*Donde esta el nombre*/
.card-title{
  display: inline;
  margin-left: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-body{
  background-color: white;
  padding:2%;
}
/*Texto que se pone*/
.card-text{
  color:#2F4F4F;
  font-weight: 700;
}
/*donde estan los iconos */
.card-footer{
  background-color: #99cccc;
  font-size: 20px;
  text-align: center; 
}
/*iconos para luego q luego funcionen*/
i{
  margin: 2%;
}
i:hover{
  color: white;
}
#messageContainer{
  margin:2%;
}
/*boton para enviar mensaje*/
#sendButton{
  float: right;
  background-color: #82ccd5;
  border: none;
  color: white;
  width: 30%;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  margin-top: 3%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#sendButton:hover{
  background-color: #5590A6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*PROBANDO lo de chatpost*/
#comment {
	width: 100%;
	height: 4em;
	color:  #807e7e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 1em;
  border: 1px solid  #807e7e;
  border-radius: 5px;
	margin-top: 10%;
}

#btn {
  float: right;
  background-color:  #82ccd5;
  border: none;
  color: white;
  width: 30%;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#btn:hover {
  background-color: #5590A6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#cont {
	margin-top: 5%;
	width: 100%;
	height: 4em;
	color:  #807e7e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 1em;
  border-radius: 5px;
}


#cont div {
	padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
	border: 1px solid #807e7e;
	background-color: #FFF;
}

.heart, .trash, .fa-pencil-alt {
	margin:1em;
	float: right;
	cursor: pointer;
}

.heart:hover, .trash:hover, .fa-pencil-alt:hover {
	color: greenyellow;
	cursor: pointer;
}

.blue {
	color: #5590A6;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}